<div class="profile-container">
    <h1>Perfil de Usuario</h1>

    <div>
        <p>Nombre Completo: {{user.first_name}} {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Rol: {{user.role}}</p>
    </div>
    
    <form id="logoutForm" action="/api/sessions/logout" method="get">
        <button type="submit">Cerrar sesion</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const logoutForm = document.querySelector("#logoutForm");
        logoutForm.addEventListener("submit", async function(e) {
            e.preventDefault();

            try {
                const response = await fetch("/api/sessions/logout", { method: "post" });

                if(response.ok) {
                    window.location.href = "/";
                } else {
                    alert("Error al cerrar sesion");
                }
            } catch (error) {
                console.error("Error:", error);
            }
        });
    });
</script>